<header class="header">
  <div class="header__logo_burger-btn_wrapper">
    <div class="header__logo-wrapper">
      <a href="../index.html" class="header__logo-link">
        <svg
          class="header__logo-img"
          width="100"
          height="35"
          class="header__logo-img"
        >
          <use href="../img//symbol-defs.svg#icon-Logo"></use>
        </svg>
      </a>
      <img
        class="header__beta-img"
        width="50"
        height="20"
        src="../img/Beta.png"
        alt="beta"
      />
    </div>
    <button type="button" class="header__burger-btn">
      <svg class="header__burger-icon">
        <use href="../img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <nav class="header__nav-menu">
    <ul class="header__nav-menu-list">
      <li class="header__nav-menu-item">
        <a href="#" class="header__nav-menu-link border-line"> Dashboard </a>
      </li>
      <li class="header__nav-menu-item">
        <a href="#" class="header__nav-menu-link border-line">Lab</a>
      </li>
      <li class="header__nav-menu-item">
        <a href="#" class="header__nav-menu-link border-line"
          >Products
          <svg class="header__nav-menu-arrow-icon" width="30" height="20">
            <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="header__nav-menu-item">
        <a href="#" class="header__nav-menu-link border-line">Messages</a>
      </li>
      <li class="header__nav-menu-item">
        <a href="#" class="header__nav-menu-link border-line"
          >Settings

          <svg class="header__nav-menu-arrow-icon" width="30" height="20">
            <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="header__nav-menu-item">
        <a href="#" class="header__nav-menu-link border-line">Profile</a>
      </li>
      <li class="header__nav-menu-item">
        <a href="#" class="header__nav-menu-link">Help</a>
      </li>
    </ul>
  </nav>
  <div class="header__astromix">Astromix &#169; 2018 – 2020</div>
</header>
