<div class="nav-menu-mobile-container hidden">
  <div class="nav-menu-mobile__logo_close-btn_wrapper">
    <div class="nav-menu-mobile__logo-wrapper">
      <a href="../index.html" class="nav-menu-mobile__logo-link">
        <svg width="100" height="35" class="nav-menu-mobile__logo-img">
          <use href="img/symbol-defs.svg#icon-Logo"></use>
        </svg>
      </a>
      <img width="50" height="20" src="../img/Beta.png" alt="beta" />
    </div>
    <button type="button" class="nav-menu-mobile__close-btn">
      <svg class="nav-menu-mobile__close-icon">
        <use href="img/symbol-defs.svg#icon-closeBtn"></use>
      </svg>
    </button>
  </div>
  <nav class="nav-menu-mobile">
    <ul class="nav-menu-mobile__list">
      <li class="nav-menu-mobile__item">
        <a href="#" class="nav-menu-mobile__link border-line"> Dashboard </a>
      </li>
      <li class="nav-menu-mobile__item">
        <a href="#" class="nav-menu-mobile__link border-line">Lab</a>
      </li>
      <li class="nav-menu-mobile__item">
        <a href="#" class="nav-menu-mobile__link border-line"
          >Products
          <svg class="nav-menu-mobile__arrow-icon" width="18" height="11">
            <use href="img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="nav-menu-mobile__item">
        <a href="#" class="nav-menu-mobile__link border-line">Messages</a>
      </li>
      <li class="nav-menu-mobile__item">
        <a href="#" class="nav-menu-mobile__link border-line"
          >Settings

          <svg class="nav-menu-mobile__arrow-icon" width="18" height="11">
            <use href="img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="nav-menu-mobile__item">
        <a href="#" class="nav-menu-mobile__link border-line">Profile</a>
      </li>
      <li class="nav-menu-mobile__item">
        <a href="#" class="nav-menu-mobile__link">Help</a>
      </li>
    </ul>
  </nav>
  <div class="nav-menu-mobile__astromix">Astromix &#169; 2018 – 2020</div>
</div>
