<section class="products">
  <div class="products__title-wrapper">
    <h1 class="products__title">Products</h1>
    <img src="../img/viewMenu.png" alt="menu" width="160" height="40" />
  </div>

  <ul class="products__list">
    <li class="products__item">
      <svg class="products__icon">
        <use href="../img/symbol-defs.svg#icon-circles"></use>
      </svg>
      <h3 class="products__name">Product Name</h3>
      <p class="products__description">Text about product</p>
    </li>
    <li class="products__item">
      <svg class="products__icon">
        <use href="../img/symbol-defs.svg#icon-taskbook"></use>
      </svg>
      <h3 class="products__name">Product Name</h3>
      <p class="products__description">Text about product</p>
    </li>
    <li class="products__item">
      <svg class="products__icon">
        <use href="../img/symbol-defs.svg#icon-calendar"></use>
      </svg>
      <h3 class="products__name">Product Name</h3>
      <p class="products__description">Text about product</p>
    </li>
    <li class="products__item">
      <svg class="products__icon">
        <use href="../img/symbol-defs.svg#icon-bag"></use>
      </svg>
      <h3 class="products__name">Product Name</h3>
      <p class="products__description">Text about product</p>
    </li>
    <li class="products__item">
      <svg class="products__icon">
        <use href="../img/symbol-defs.svg#icon-star"></use>
      </svg>
      <h3 class="products__name">Product Name</h3>
      <p class="products__description">Text about product</p>
    </li>
    <li class="products__item">
      <svg class="products__icon">
        <use href="../img/symbol-defs.svg#icon-hands"></use>
      </svg>
      <h3 class="products__name">Product Name</h3>
      <p class="products__description">Text about product</p>
    </li>
    <li class="products__item">
      <svg class="products__icon">
        <use href="../img/symbol-defs.svg#icon-heads"></use>
      </svg>
      <h3 class="products__name">Product Name</h3>
      <p class="products__description">Text about product</p>
    </li>
    <li class="products__item">
      <svg class="products__icon">
        <use href="../img/symbol-defs.svg#icon-door"></use>
      </svg>
      <h3 class="products__name">Product Name</h3>
      <p class="products__description">Text about product</p>
    </li>
  </ul>

  <p class="products__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
</section>
