/* Reset styles */
html {
  height: 100%;
}
body {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.56;
  background-color: var(--main-background-color);
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none;
}
.main {
  height: 100%;
  padding: 0px 15px;
}

@media screen and (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .main {
    padding: 0px 45px;
  }
}
